@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --violet: hsl(257, 40%, 49%);
    --softMagenta: hsl(300, 69%, 71%);

    --fontHeadings: 'Poppins', sans-serif;
    --fontText: 'Open Sans', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--violet);
    background-image: url('images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

header{
    height: 20vh;
    padding: 60px 0 0 60px;
}

header a img{
    width: 200px;
}

main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60vh;
    padding: 0 60px;
}

main img{
    width: 750px;
    min-width: 550px;
    margin-right: 40px;
}

main .content{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 350px;
    padding-top: 40px;
}

main .content h1{
    color: white;
    font-family: var(--fontHeadings);
    font-weight: 600;
    font-size: 2em;
    text-align: left;
    margin-bottom: 30px;
}

main .content > p{
    color: white;
    font-family: var(--fontText);
    margin-bottom: 30px;
}

main .content button{
    background-color: white;
    color: var(--violet);
    font-family: var(--fontHeadings);
    font-weight: 500;
    border: none;
    border-radius: 40px;
    width: 165px;
    height: 45px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
}

main button:hover{
    cursor: pointer;
    background-color: var(--softMagenta);
    color: white;
}

footer{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 20vh;
    padding: 0 60px 40px 0;
}


footer > a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 40px;
    margin-right: 15px;
}

footer > a .facebook-icon{
    width: 12px;
    fill: white;
}

footer > a .twitter-icon,a .instagram-icon{
    width: 20px;
    fill: white;
}

footer > a:hover, a:hover > svg{
    border-color: hsl(300, 93%, 62%);
    fill: hsl(300, 93%, 62%);
}

@media(max-width: 1000px){
    body{
        background-image: url('images/bg-mobile.svg');
        background-size: 100%;
    }

    header{
        padding-top: 40px;
        padding-left: 40px;
        transition: 0.3s;
    }

    main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        padding-left: 0;
    }

    main img{
        width: 400px;
        min-width: 400px;
        height: 285px;
        margin-right: 0;
    }

    main .content{
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;

    }

    main .content h1{
        font-size: 1.9em;
        text-align: center;
        transition: 0.3s;
    }

    main .content p{
        text-align: center;
        transition: 0.3s;
    }

    main .content button{
        width: 300px;
        transition: 0.3s;
    }

    footer{
        justify-content: center;
        padding-right: 0;
        transition: 0.3s;
    }
}